{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Школа №44{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header class="header">
      <div class="container header-inner">
        <div class="logo-box">
          <div class="logo-circle">44</div>

          <div class="logo-text">
            <h1>МБОУ СОШ №44</h1>
            <p>Курганская область</p>
          </div>
        </div>

        <nav class="menu">
          <a href="/">Главная</a>
          <a href="/news/">Новости</a>
          <a href="/services/">Услуги</a>
          <a href="/about/">О школе</a>
          <a href="#">Контакты</a>
        </nav>
      </div>
    </header>

    <main class="main">
      <div class="container">{% block content %} {% endblock %}</div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <div>
            <h3 class="footer-title">МБОУ СОШ №44</h3>

            <p class="footer-text">
              Современная школа с качественным образованием, развитием талантов
              и комфортной средой для учеников.
            </p>
          </div>

          <div>
            <h3 class="footer-title">Навигация</h3>

            <div class="footer-links">
              <a href="/">Главная</a>
              <a href="/news/">Новости</a>
              <a href="/services/">Услуги</a>
              <a href="/about/">О школе</a>
              <a href="#">Контакты</a>
            </div>
          </div>

          <div>
            <h3 class="footer-title">Контакты</h3>

            <div class="footer-links">
              <a href="#">📍 Курганская область</a>
              <a href="tel:83522250349">📞 8(3522) 25-03-49</a>
              <a href="mailto:school-44kurgan@yandex.ru">✉ school-44kurgan@yandex.ru</a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">© 2026 МБОУ СОШ №44 — Все права защищены</div>
    </footer>
  </body>
</html>
